@import "tailwindcss";

/* google font noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {

  --bg: #ffffff;

  --text-wh: #fff;
  --text: #313030;
  --muted-text: #4b4b52;
  --foreground: #1c1c1f;

  --tooltip-bg: #262626;
  --tooltip-hover: #ffffff12;

  --dropdown-bg: #ffffff;

  --primary: #ffa41f;          
  --secondary: #f5f5f6;
  --muted: #f5f5f6;
  --muted-foreground: #6b6b73;

  --accent: #f5f5f6;
  --accent-foreground: #2f2f33;

  --destructive: #e11d48;        
  --border: #e5e5e7;
  --btn-border: #7e7e87;

  --card: #ffffff;
  --card-foreground: #1c1c1f;

  --popover: #ffffff;
  --popover-foreground: #1c1c1f;

  --primary-foreground: #f3e8ff;
  --secondary-foreground: #2f2f33;

  --input: #e5e5e7;
  --ring: #8b5cf6;

  --chart-1: #c4b5fd;
  --chart-2: #8b5cf6;
  --chart-3: #7c3aed;
  --chart-4: #6d28d9;
  --chart-5: #5b21b6;

  --sidebar: #ffffff;
  --sidebar-hover: #00000024;
  --sidebar-foreground: #1c1c1f;
  --sidebar-primary: #7c3aed;
  --sidebar-primary-foreground: #f3e8ff;
  --sidebar-accent: #f5f5f6;
  --sidebar-accent-foreground: #2f2f33;
  --sidebar-border: #e5e5e7;
  --sidebar-ring: #8b5cf6;
  --sidebar-scroll: #cbd5e1;
  --sidebar-scroll-hover: #535961;
  
}

.dark {

  --bg: #090909;

  --text-wh: #dedede;
  --text: #252323;
  --muted-text: #aeaeae;
  --foreground: #1c1c1f;

  --tooltip-bg: #171717;
  --tooltip-hover: #3F3F3F;

   --dropdown-bg: #171717;

  --primary: #ffa41f;          
  --secondary: #f5f5f6;
  --muted: #f5f5f6;
  --muted-foreground: #6b6b73;

  --accent: #f5f5f6;
  --accent-foreground: #2f2f33;

  --destructive: #e11d48;        
  --border: rgba(255, 255, 255, 0.1);
  --btn-border: #7e7e87;

  --card: #ffffff;
  --card-foreground: #1c1c1f;

  --popover: #ffffff;
  --popover-foreground: #1c1c1f;

  --primary-foreground: #f3e8ff;
  --secondary-foreground: #2f2f33;

  --input: #e5e5e7;
  --ring: #8b5cf6;

  --chart-1: #c4b5fd;
  --chart-2: #8b5cf6;
  --chart-3: #7c3aed;
  --chart-4: #6d28d9;
  --chart-5: #5b21b6;

  --sidebar: #262626;
  --sidebar-hover: #404040;
  --sidebar-foreground: #1c1c1f;
  --sidebar-primary: #7c3aed;
  --sidebar-primary-foreground: #f3e8ff;
  --sidebar-accent: #f5f5f6;
  --sidebar-accent-foreground: #2f2f33;
  --sidebar-border: #e5e5e7;
  --sidebar-ring: #8b5cf6;
  --sidebar-scroll: #cbd5e1;
  --sidebar-scroll-hover: #535961;
  
}

@layer base {
  body {
    @apply text-(--text-color) bg-(--background) font-["Noto_Sans",sans-serif] ;
  }
}




/* ===== Sidebar Scroll Only ===== */
.sidebar-scroll::-webkit-scrollbar {
  width: 3px;
   scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--sidebar-scroll) transparent; /* Firefox */
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-scroll);
  border-radius: 20px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--sidebar-scroll-hover);
}
/* Header notifaction Icon Animation */
@keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

/* Header Mail Icon Animation */
@keyframes mailPop {
  0% { transform: scale(1) rotate(0); }
  30% { transform: scale(1.15) rotate(-10deg); }
  60% { transform: scale(1.1) rotate(8deg); }
  100% { transform: scale(1) rotate(0); }
}
