@import "tailwindcss";

/* google font noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {

  --bg: #ffffff;

  --text-wh: #161616;
  --text: #313030;
  --muted-text: #4b4b52;
  --foreground: #aaaaad;

  --tooltip-bg: #2f2f2f;
  --tooltip-hover: #ffffff12;

  --dropdown-bg: #ffffff;

  --primary: #ffa41f;          
  --secondary: #f5f5f6;
  --muted: #f5f5f6;
  --muted-foreground: #6b6b73;

  --accent: #f5f5f6;
  --accent-foreground: #2f2f33;

  --destructive: #e11d48;        
  --border:  #0000001a;
  --btn-border: #7e7e87;

  --card: #ffffff;
  --card-foreground: #e4e0e0;

  --popover: #ffffff;
  --popover-foreground: #1c1c1f;

  --primary-foreground: #f3e8ff;
  --secondary-foreground: #2f2f33;

  --input: #e5e5e7;
  --ring: #8b5cf6;

  --chart-1: #c4b5fd;
  --chart-2: #8b5cf6;
  --chart-3: #7c3aed;
  --chart-4: #6d28d9;
  --chart-5: #5b21b6;

  --hover: #00000024;

  --sidebar: #ffffff;
  --sidebar-hover: #00000024;
  --sidebar-foreground: #1c1c1f;
  --sidebar-primary: #7c3aed;
  --sidebar-primary-foreground: #f3e8ff;
  --sidebar-accent: #f5f5f6;
  --sidebar-accent-foreground: #2f2f33;
  --sidebar-border: #e5e5e7;
  --sidebar-ring: #8b5cf6;
  --sidebar-scroll: #cbd5e1;
  --sidebar-scroll-hover: #535961;

  --status-active: #a4f4cf;
  --status-blocked: #ffc9c9;
  --status-suspended: #7a7575be;

  --scrollbar: #ffffff;
  
}

.dark {

  --bg: #090909;

  --text-wh: #dedede;
  --text: #252323;
  --muted-text: #aeaeae;
  --foreground: #303030;

  --tooltip-bg: #171717;
  --tooltip-hover: #3F3F3F;

  --dropdown-bg: #171717;

  --primary: #ffa41f;          
  --secondary: #f5f5f6;
  --muted: #f5f5f6;
  --muted-foreground: #6b6b73;

  --accent: #f5f5f6;
  --accent-foreground: #2f2f33;

  --destructive: #e11d48;        
  --border: rgba(255, 255, 255, 0.1);
  --btn-border: #7e7e87;

  --card: #262626;
  --card-foreground: #1c1c1f;

  --popover: #ffffff;
  --popover-foreground: #1c1c1f;

  --primary-foreground: #f3e8ff;
  --secondary-foreground: #2f2f33;

  --input: #e5e5e7;
  --ring: #8b5cf6;

  --chart-1: #c4b5fd;
  --chart-2: #8b5cf6;
  --chart-3: #7c3aed;
  --chart-4: #6d28d9;
  --chart-5: #5b21b6;

  --hover: #404040;

  --sidebar: #262626;
  --sidebar-hover: #404040;
  --sidebar-foreground: #1c1c1f;
  --sidebar-primary: #7c3aed;
  --sidebar-primary-foreground: #f3e8ff;
  --sidebar-accent: #f5f5f6;
  --sidebar-accent-foreground: #2f2f33;
  --sidebar-border: #e5e5e7;
  --sidebar-ring: #8b5cf6;

  --status-active: #404040;
  --status-blocked: #404040;
  --status-suspended: #404040;

  --scrollbar: #262626;

  
}

@layer base {
  body {
    @apply text-[14px] text-(--text-color) tracking-wide bg-(--background) font-["Noto_Sans",sans-serif] overflow-x-hidden;
  }
  p{
    @apply text-(--muted-text) font-light text-base;
  }
  h1{
    @apply text-[16px] font-bold capitalize mb-4;
  }
}
@layer components{
  .btn{
    @apply flex items-center gap-2 px-4 py-2 bg-(--card-foreground) border border-(--border) cursor-pointer rounded-md hover:brightness-90 transition text-sm font-medium;
  }
  .btn-outline{
    @apply bg-(--hover) border border-(--border) text-(--muted-text) py-2 px-3.5 rounded-md;
  }
  .title{
    @apply text-2xl;
  }

}



/* Scrollbar  */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  border-radius: 3px;
}



/* ===== Sidebar Scroll Only ===== */
.sidebar-scroll::-webkit-scrollbar {
  width: 3px;
   scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--theme) transparent; /* Firefox */
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  border-radius: 20px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme);
}
/* Header notifaction Icon Animation */
@keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

/* Header Mail Icon Animation */
@keyframes mailPop {
  0% { transform: scale(1) rotate(0); }
  30% { transform: scale(1.15) rotate(-10deg); }
  60% { transform: scale(1.1) rotate(8deg); }
  100% { transform: scale(1) rotate(0); }
}
